<div>
  <div style='width: 600px;margin:auto'>
    <p><img  style='width: 600px' src="https://ctl.s6img.com/society6/img/imdcdr-GqyrIU98QZFQ0J7Z3uCo/w_700/coffee-mugs/swatch/~artwork,fw_4600,fh_2000,fy_-1300,iw_4600,ih_4600/s6-original-art-uploads/society6/uploads/misc/277e40b0eee14903bb3708a5510db88e/~~/barber-shop-pattern-mugs.jpg"></p>
  </div>
  <h1 align="center">Welcome to Barber Web App!</h1>
</div> 